
name: Test Application
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4 # Updated to v4
      - name: Install NodeJS
        uses: actions/setup-node@v4 # Updated to v4
        with: 
          node-version: 24
      - name: Install Dependencies
        run: npm ci
      - name: Run tests
        run: npm test